html{
    scroll-behavior: smooth;
}

#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 170px;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 30vh;
    display: none;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    font-size: 14pt;
}

#btnTop:hover{
    font-weight: bold;
    background:#fff; 
    color:#413d3d;
    transition: .5s ease-in-out; 
}