section#mainContent div#playlists{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

section#mainContent div#playlists div.songs{
    margin: 0 10px;

    text-align: center;
}